### Java build files ###
/target/
!.mvn/wrapper/maven-wrapper.jar

### React build files ###
/src/main/react-client/node_modules
/src/main/react-client/build
/src/main/resources/static
/src/main/react-client/yarn-error.log

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### MacOs ###
.DS_store
