### Java build files ###
/target/
!.mvn/wrapper/maven-wrapper.jar

### React build files ###
/src/main/react-client/node_modules
/src/main/react-client/build
/src/main/resources/static
/src/main/react-client/yarn-error.log

### Intellij IDEA ###
.idea
*.iws
*.iml
*.ipr

### DB Error log ###
db2.trace.db

### MacOs ###
.DS_store
