.root {
    flex-grow: 1;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    position: relative;
    display: flex;
    width: 100%;
}

.content {
    padding: 10px;
    margin-top: 5%;
    max-height: 86vh;
    overflow-y: scroll;
}

.overflow-class {
    max-height: 90vh;
    overflow-y: scroll;
}

.question-cards {
    margin-top: 14px;
}